body {
    background: #E1E3E6;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.app {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 124px;
}
.div-wrapper {
    width: 494px;
    height: 446px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 14px;
    background: #FFFFFF;
}
.country-list {
    height: 226px;
    overflow-y: scroll;
}
.save-btn {
    display: flex;
    justify-content: flex-end;
}

.save-btn button {
    padding: 0px;
    width: 87px;
    height: 38px;
    background: #60D09B;
    border-radius: 50px;
    border: none;
    color: white;
}